<html lang="en"><head><meta http-equiv=Content-Type content="text/html; charset=UTF-8">
<style>
    body {
        font-family: Arial,sans-serif;
    }
    .Resolved {
        background-color:#86cc89;
        border:1px solid #57bd5b;
    }
    .Information {
        background-color:#7499ff;
        border:1px solid #4673f0;
    }
    .Warning {
        background-color:#FFC859;
        border:1px solid #E69F10;
    }
    .Average {
        background-color:#FFA059;
        border:1px solid #e66e15;
    }
    .High {
        background-color:#E97659;
        border:1px solid #E45959;
    }
    .Disaster {
        background-color:#E45959;
        border:1px solid #DE1E09;
    }
    a {
        text-decoration: none;
        color: #010059;
    }
    a:link {
        text-decoration: none;
        color: #010059;
    }
    a:visited {
        text-decoration: none;
        color: #010059;
    }
    a:active {
        text-decoration: none;
        color: #010059;
    }
    hr {
        border: none;
        height: 1px;
        color: #333; /* old IE */
        background-color: #333;
    }
    .MsgBody {
        width: 100%;
    }
    #maintable {
        width: 800px;
    }
    @media screen and (max-width: 800px;) {
        #maintable {
            width: 100%;
            max-width: 790px;
        }
        #mainimage {
            -ms-interpolation-mode: bicubic;
            width: 100%;
            max-width: 790px;
            max-height: 450px;
        }
    }
    .links {
        font-size: 9px;
    }
    .header {
        font-size: 16px;
        font-weight: bold;
    }
    .graphHeader {
        font-size: 14px;
        font-weight: bold;
    }
    .content {
        font-size: 14px;
    }
</style>
</head>
<body>
    <table style="margin: 5px;border-spacing:0 10px;border-collapse: separate;" align=center>
        <tr>
            <td class="{{ EVENT_SEVERITY }}" style="border-radius:10px;padding:5px 18px 5px 18px; ">
                <table class="{{ EVENT_SEVERITY }}" style="border:0; text-align:left;" cellpadding="0" cellspacing="0">
                    <tr>
                        <td>
                            <p><span class="header">EVENT INFORMATION</span></p>
                            <span class="content">
                                Description: <b>{{ EVENT_NAME }}</b><br/>
                                Host: <b>{{ HOST_NAME }}</b>
{% if HOST_ERROR|length > 0 %}
                                ({{ HOST_ERROR }})
{% endif %}
                                <br/>
{% if EVENT_OPDATE|length > 0 %}
                                Operational data: <b>{{ EVENT_OPDATA }}</b><br/>
{% endif %}
                                Status: <b>{{ EVENT_STATUS }}</b><br/>
                                Severity: <b>{{ EVENT_SEVERITY }}</b><br/>
{% if EVENT_SEVERITY == "Resolved" %}
                                Duration: <b>{{ EVENT_DURATION }}</b><br/>
{% endif %}
                                Item: <b>{{ ITEM_NAME }}</b><br/>
                                Previous/Last: {{ ITEM_PREVIOUSVALUE }} ==&gt; {{ ITEM_LASTVALUE }}
                            </span>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td class="links">
                <div align=center>
                    Event ID: <a href="{{ EVENTDETAILS_URL }}">{{ EVENT_ID }}</a> //
                    Trigger ID: <a href="{{ TRIGGER_URL }}">{{ TRIGGER_ID }}</a> //
                    Item ID: <a href="{{ ITEM_URL }}">{{ ITEM_ID }}</a> //
                    Host ID: <a href="{{ HOST_URL }}">{{ HOST_ID }}</a>
{% if GRAPH_ZABBIXLINK|length > 0 %}
                    // Graph ID: <a href="{{ GRAPH_ZABBIXLINK }}">{{ GRAPH_ID }}</a>
{% endif %}
                </div>
            </td>
        </tr>
{% for aGraph in GRAPHS_I %}
        <tr>
            <div align=justify>
                <td align="center">
                    <span class="graphHeader">{{ aGraph.HEADER }}</span><br/>
                    <img id="mainimage" border=0 style="width: 100%; max-width: 790px" alt="Zabbix Graph" src="{{ aGraph.CID }}" />
                </td>
            </div>
        </tr>
{% endfor %}
{% if TRIGGER_SCREEN > 0 %}
        <tr>
            <div align=justify>
                <td align="center">
                    <span class="graphHeader">{{ GRAPHS_T_HEADER }} - {{ GRAPHS_T_PERIODHEADER }}</span>
                </td>
            </div>
        </tr>
        <tr>
            <td class="links">
                <div align="center">
                    Screen ID: <a href="{{ GRAPHS_T_LINK }}">{{ TRIGGER_SCREEN }}</a>
                </div>
            </td>
        </tr>
    {% for aGraph in GRAPHS_T %}
        <tr>
            <div align=justify>
                <td align="center">
                    <img id="mainimage" border=0 style="width: 100%; max-width: 790px" alt="Zabbix Graph" src="{{ aGraph.CID }}" />
                </td>
            </div>
        </tr>
    {% endfor %}
{% endif %}
{% if HOST_SCREEN > 0 %}
        <tr>
            <div align=justify>
                <td align="center">
                    <span class="graphHeader">{{ GRAPHS_H_HEADER }} - {{ GRAPHS_H_PERIODHEADER }}</span>
                </td>
            </div>
        </tr>
        <tr>
            <td class="links">
                <div align="center">
                    Screen ID: <a href="{{ GRAPHS_H_LINK }}">{{ HOST_SCREEN }}</a>
                </div>
            </td>
        </tr>
    {% for aGraph in GRAPHS_H %}
        <tr>
            <div align=justify>
                <td align="center">
                    <img id="mainimage" border=0 style="width: 100%; max-width: 790px" alt="Zabbix Graph" src="{{ aGraph.CID }}" />
                </td>
            </div>
        </tr>
    {% endfor %}
{% endif %}
    </table>
</body>
</html>